.alternating-background {
    --color-1: #ffebee;
    --color-2: #ffcdd2;
    --color-3: #f8bbd0;
    --color-4: #b3e5fc;

    background-color: var(--color-1);
}

.alternating-background:nth-child(4n + 1) {
    background-color: var(--color-2);
}

.alternating-background:nth-child(4n + 2) {
    background-color: var(--color-3);
}

.alternating-background:nth-child(4n + 3) {
    background-color: var(--color-4);
}
