@keyframes slide-from-left {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(100%);
    }
}

.animation-slide-from-left {
    animation: slide-from-left 1s ease-out;
}
